@using MatchPro.Frontend.Services;
@using MatchPro.Shared;

<h3>Equipos</h3>

@page "/equipos"

@inject IEquipoService EquipoService

<h3>Lista de Equipos</h3>

@if (equipos == null)
{
    <p><em>Cargando...</em></p>
}

else
{
    <ul>
        @foreach (var equipo in equipos)
        {
            <li>@equipo.Nombre</li>
            <li>@equipo.Logo</li>
        }
    </ul>
}


@code {
    private List<EquipoDTO>? equipos;

    protected override async Task OnInitializedAsync()
    {
        equipos = await EquipoService.Lista();
    }

}
